<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    .ml-5,
    .mx-5 {
        margin-left: 18rem !important;
    }

    .mt-5,
    .my-5 {
        margin-top: 12rem !important;
    }

    .labelclr {
        background-color: #5477F5;
        color: white;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }

    button {
        float: right;
    }

    button a {
        color: black;
        /* background-color: #eeeeee; */
        text-decoration: none;
    }
</style>


<div class="container justify-content-center mt-5">
    <div class="card w-50 mt-5 ml-5">
        <div class="card-body">
            <h5 style="font-weight: 500;">{{ message }}</h5>
            <button type="button" class="btn btn-light ml-3"><a href="{{ baseurl }}">Go Back</a></button>
        </div>
    </div>
</div>
